body {
  font-family: 'Alegreya', serif;
  background-image: url('parchment-texture.png');
  background-color: beige;
  padding: 50px;
}
section {
  border: solid 2px brown;
  background-color: beige;
  padding: 20px;
  margin-bottom: 50px;
  position: relative;
}
section h1 {
  font-size: 1.7em;
}
.selected-weather-effects {
  display: none;
}
canvas {
  display: none;
}
.left-border {
  border-left: solid 1px brown;
}
#canvas-thumbnail,
#canvas-thumbnail-picto {
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: 200ms;
  -moz-transition-timing-function: ease-in-out;
}
#canvas-thumbnail:hover + #canvas-thumbnail-picto,
#canvas-thumbnail-picto:hover {
  height: 0;
  width: 0;
}
#canvas-thumbnail:not([src]),
#canvas-thumbnail[src=""],
#canvas-thumbnail:not([src]) + #canvas-thumbnail-picto,
#canvas-thumbnail[src=""] + #canvas-thumbnail-picto {
  display: none;
}
.picto-list {
  margin-left: -10px;
  margin-right: -10px;
}
.picto-list h2 {
  margin-left: 10px;
}
.picto-list .wi {
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 10px;
  text-align: center;
  background-color: red;
  color: white;
  position: relative;
}
.picto-list .wi.light {
  background-color: yellowgreen;
}
.picto-list .wi.medium {
  background-color: chocolate;
}
.picto-list .wi .precipitation-time {
  color: black;
  position: absolute;
  left: 0;
  bottom: -50px;
  font-size: 16px;
  white-space: nowrap;
}
.fa-eye {
  cursor: pointer;
}
ul.wind-effects {
  padding-left: 0;
  list-style: none;
  text-align: left;
}
.hidden {
  display: none;
}
.tooltip-inner {
  font-family: 'Alegreya', serif;
  background-color: #d6d6cb;
  color: black;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-top-color: #d6d6cb !important;
  border-bottom-color: #d6d6cb !important;
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-right .arrow::before {
  border-left-color: #d6d6cb !important;
  border-right-color: #d6d6cb !important;
}
#modal .modal-content {
  background-image: url('parchment-texture.png');
  background-color: beige;
  border-style: none;
}
.ui-datepicker-trigger {
  background: none;
  border: none;
}
#ui-datepicker-div {
  background: beige;
}
@media (min-width: 576px) {
  .selected-weather-effects {
    display: block;
  }
  .picto-list {
    margin-left: -20px;
    margin-right: -20px;
  }
  .picto-list h2 {
    margin-left: 20px;
  }
  .picto-list .wi {
    font-size: 45px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 20px;
  }
}
