body {
  font-family: 'Alegreya', serif;
  background-image: url('parchment-texture.png');
  background-color: beige;
  padding: 25px;
  min-width: 280px;
}
section {
  border: solid 2px brown;
  background-color: beige;
  padding: 15px;
  margin-bottom: 50px;
  position: relative;
  min-height: 80px;
}
section h1 {
  font-size: 1.7em;
}
section h1.no-margin,
section h2.no-margin,
section h3.no-margin,
section h4.no-margin {
  margin-bottom: 0;
}
#output span {
  font-weight: bold;
}
.selected-weather-effects {
  display: none;
}
canvas {
  display: none;
}
.left-border {
  border-left: solid 1px brown;
}
#canvas-thumbnail-download {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: none;
}
#canvas-thumbnail-download svg,
#canvas-thumbnail-download i {
  height: 24px;
  width: 24px;
}
.picto-list:not(:empty) {
  margin: auto -7.5px -7.5px -7.5px;
}
.picto-list:not(:empty) h2,
.picto-list:not(:empty) header {
  margin: 7.5px;
}
.picto-list:not(:empty) .wi {
  font-size: 30px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 7.5px;
  text-align: center;
  background-image: url(parchtile.png);
  background-size: cover;
  position: relative;
  text-shadow: 0 0 0.2em white;
  cursor: pointer;
}
.picto-list:not(:empty) .wi.severity-1 {
  color: #ffaa33;
}
.picto-list:not(:empty) .wi.severity-2 {
  color: #ff8026;
}
.picto-list:not(:empty) .wi.severity-3 {
  color: #ff551a;
}
.picto-list:not(:empty) .wi.severity-4 {
  color: #bf2b0d;
}
.picto-list:not(:empty) .wi.severity-5 {
  color: #800000;
}
.picto-list:not(:empty) .wi .precipitation-time {
  color: white;
  position: absolute;
  left: -10px;
  bottom: -10px;
  font-size: 16px;
  white-space: nowrap;
  background-color: rgba(109, 25, 25, 0.5);
  border-radius: 40px;
  padding: 0 10px;
  line-height: 1.5em;
}
.fa-eye {
  cursor: pointer;
}
ul.wind-effects {
  padding-left: 0;
  list-style: none;
  text-align: left;
}
.tooltip-inner {
  font-family: 'Alegreya', serif;
  background-color: #d6d6cb;
  color: black;
}
.tooltip-inner.large-tooltip-inner {
  max-width: 500px;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-top-color: #d6d6cb !important;
  border-bottom-color: #d6d6cb !important;
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-right .arrow::before {
  border-left-color: #d6d6cb !important;
  border-right-color: #d6d6cb !important;
}
#modal .modal-content {
  background-image: url('parchment-texture.png');
  background-color: beige;
  border-style: none;
}
.datepicker.datepicker-dropdown {
  background-image: url('parchment-texture.png');
  background-color: beige;
}
.datepicker.datepicker-dropdown > div {
  width: 100%;
}
.datepicker.datepicker-dropdown table.table-condensed {
  width: 100%;
}
.datepicker.datepicker-dropdown table.table-condensed thead {
  background-color: brown;
  display: table-caption;
}
.datepicker.datepicker-dropdown table.table-condensed thead th {
  color: white;
}
.datepicker.datepicker-dropdown table.table-condensed thead th:hover:not(.dow) {
  background-color: #6d1919;
}
.datepicker.datepicker-dropdown table.table-condensed .day:hover {
  background-color: brown;
  color: white;
}
#btn-calendar {
  display: inline;
}
@media (min-width: 576px) {
  body {
    padding: 50px;
    overflow-y: scroll;
  }
  .selected-weather-effects {
    display: block;
  }
  .picto-list:not(:empty) {
    margin: auto -15px -15px -15px;
  }
  .picto-list:not(:empty) h2,
  .picto-list:not(:empty) header {
    margin: 15px;
  }
  .picto-list:not(:empty) .wi {
    font-size: 45px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 15px;
  }
}
