body {
    font-family: 'Alegreya', serif;
    background-image: url('parchment-texture.png');
    background-color: beige;
    padding: 25px;
    min-width: 280px;
}

section {
    border: solid 2px brown;
    background-color: beige;
    padding: 20px;
    margin-bottom: 50px;
    position: relative;
    min-height: 80px;
    h1 {
        font-size: 1.7em;
    }
    h1,
    h2,
    h3,
    h4 {
        &.no-margin {
            margin-bottom: 0;
        }
    }
}

.selected-weather-effects {
    display: none;
}

canvas {
    display: none;
}

.left-border {
    border-left: solid 1px brown;
}

#canvas-thumbnail,
#canvas-thumbnail-picto {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition: 200ms;
    -moz-transition-timing-function: ease-in-out;
}

#canvas-thumbnail:hover+#canvas-thumbnail-picto,
#canvas-thumbnail-picto:hover {
    height: 0;
    width: 0;
}

#canvas-thumbnail:not([src]),
#canvas-thumbnail[src=""],
#canvas-thumbnail:not([src])+#canvas-thumbnail-picto,
#canvas-thumbnail[src=""]+#canvas-thumbnail-picto {
    display: none;
}

.picto-list:not(:empty) {
    margin: auto -10px -10px -10px;
    h2,
    header {
        margin: 10px;
    }
    .wi {
        font-size: 30px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        margin: 10px;
        text-align: center;
        background-color: red;
        color: white;
        position: relative;
        &.light {
            background-color: yellowgreen;
        }
        &.medium {
            background-color: chocolate;
        }
        .precipitation-time {
            color: white;
            position: absolute;
            left: -10px;
            bottom: -10px;
            font-size: 16px;
            white-space: nowrap;
            background-color: rgba(109, 25, 25, 0.5);
            border-radius: 40px;
            padding: 0 10px;
            line-height: 1.5em;
        }
    }
}

.fa-eye {
    cursor: pointer;
}

ul.wind-effects {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.tooltip-inner {
    font-family: 'Alegreya', serif;
    background-color: #d6d6cb;
    color: black;
}

.bs-tooltip-top,
.bs-tooltip-bottom {
    .arrow::before {
        border-top-color: #d6d6cb !important;
        border-bottom-color: #d6d6cb !important;
    }
}

.bs-tooltip-left,
.bs-tooltip-right {
    .arrow::before {
        border-left-color: #d6d6cb !important;
        border-right-color: #d6d6cb !important;
    }
}

#modal .modal-content {
    background-image: url('parchment-texture.png');
    background-color: beige;
    border-style: none;
}

.datepicker.datepicker-dropdown {
    background-image: url('parchment-texture.png');
    background-color: beige;
    table {
        thead {
            background-color: brown;
            display: table-caption;
            th {
                color: white;
                &:hover:not(.dow) {
                    background-color: rgb(109, 25, 25);
                }
            }
        }
        .day:hover {
            background-color: brown;
            color: white;
        }
    }
}

#btn-calendar {
    display: inline;
}

@media (min-width: 576px) {
    body {
        padding: 50px;
    }
    .selected-weather-effects {
        display: block;
    }
    .picto-list:not(:empty) {
        margin: auto -20px -20px -20px;
        h2,
        header {
            margin: 20px;
        }
        .wi {
            font-size: 45px;
            height: 80px;
            width: 80px;
            line-height: 80px;
            margin: 20px;
        }
    }
}